.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}
  
.sidenav img {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  display: block;
  border-radius: 50%;
  height: 75%;
  width: 75%; 
}
@font-face {
  font-family: 'yukari';
  src: url('./data/fonts/yukarimobil-webfont.woff2') format('woff2'),
      url('./data/fonts/yukarimobil.ttf') format('truetype'),
       url('./data/fonts/yukarimobil-webfont.woff') format('woff');

}

/* Create three equal columns that floats next to each other */
@import url(//fontlibrary.org/face/effects-eighty);
$font: 'EffectsEighty';

* {
	-webkit-font-smoothing: antialiased;
	overflow: hidden;
}

html, body { 
	height: 100%; 
	background-color: lighten(#090D19, 20%);
	background-image: url(https://giffiles.alphacoders.com/209/209159.gif);
	background-size: cover;
	background-position: 50% 40%;
}

body { 
	mix-blend-mode: screen;
}

.centerer {
	position: absolute;
	top: 0; right: 0; left: 0; bottom: 0;
	height: 100%;
	display: flex;
  align-items: center;
  justify-content: center;
}

.porthole {
	width: 30vw;
	height: auto;
	mix-blend-mode: multiply;
}

.text { 
	font-size: 4vw;
  font-family: $font;
  font-weight: normal; 
  font-style: normal;
	text-transform: uppercase;
	letter-spacing: 1vw;
	color: transparent;
  width: 100%;
	text-align: center;
	mix-blend-mode: screen;
}

.one {
	text-shadow: 0 0.1vw 0.05vw #6858F2;
}

.two {
	text-shadow: 0 0 0.1vw #FFFFFF;
	animation: text-2 10s infinite;
}

@keyframes text-2 {
	0% {
		transform: scale(1) translate(0, 0) skew(0deg);
	}
	7% {
		transform:  scale(1) translate(0, 0) skew(0deg);
	}
	8% { 
		transform:  scale(1.2) translate(-20px, 30px) skew(0deg);
	}
	11% { 
		transform:  scale(1.2) translate(-20px, 30px) skew(0deg);
	}
	12% {
		transform:  scale(0) translate(0,0) skew(0deg);
	}
	29% { 
		transform: skew(-50deg);
	}
	32% { 
		transform: skew(0deg);
	}
	41% {
		transform: skew(0deg);
	}
	67% {
		transform:  scale(1) translate(0, 0) skew(0deg);
	}
	68% { 
		transform:  scale(1.2) translate(50px, 35px) skew(0deg);
	}
	71% { 
		transform:  scale(1.2) translate(50px, 35px) skew(0deg);
	}
	72% {
		transform:  scale(0) translate(0,0) skew(0deg);
	}
	100% {
		transform: skew(0deg);
	}
}

