.bot {
	position: absolute;
	top: 250px; right: 100px; left: 100px; bottom: 0;
	height: 100%;
	display: flex;
  align-items: center;
  justify-content: center;
}
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (600px wide or less) */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }